/* InputsCadastro.css */

/* InputsCadastro.css */

.app{
    background: linear-gradient(to bottom, #4e54c8, #8f94fb);
}

.inputs-cadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
    background-color: #8f8b8b;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inputs-cadastro label {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: larger;
    color: #333;
}

.inputs-cadastro input {
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #3200e6;
    border-radius: 4px;
}

.inputs-cadastro button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.inputs-cadastro button:hover {
    background-color: #0056b3;
}

.inputs-cadastro button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.inputs-cadastro button:disabled:hover {
    background-color: #ccc;
}

.error-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .error-popup-content {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .error-popup-content p {
    margin: 0 0 10px;
  }
  
  .error-popup-content button {
    padding: 5px 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  #password{
    margin-right: 22px;
  }