.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 5px;
  height: 600px;
  width: 500px;
  margin-bottom: 50px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('/public/blob-scene-haikei.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.caixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caixa #P::first-letter{
  color: green;
}